body {
    align-content: center;
    margin: 70% 0% 50% 0%;
}

#contener {
    background-color: #523b9c;
    color: #;
    margin: #;
    padding: 10px;
    align-content: center;
    font-family: #;
    font-size: #;
    text-align: center;
}

#contener div h1 {
    color: lightblue;
    align-items: center;
}

#start-btn {
    color: lightblue;
    background-color: #64335d;
    border: 1px solid #4a0c3b;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
}
