body{
background:#130647;
}

#contener{
display: grid;
flex-wrap: wrap;
grid-row-gap: 10px;
background: linear-gradient(#9004fc,#928cf2);
width: 99%;
height:auto;
align-content:center;
padding: 5px;
border-radius: 10px;
margin-top: 10%;
}


h3{
text-align: center;
}
p{
text-align: center;
color:black;
font-style:bold;
font-size:20px;
}
input{
align-content: center;
padding: 10px;
/*margin: 10px;
border: 3px solid #f2ccfc;
border-radius:5px;*/
}